.small-receipt-form div:has(> label, > input):not(.small-receipt-form__checkbox-container):not(.small-receipt-form__taxes-container):not(.small-receipt-form__purchase-container) {
  display: flex;
  flex-direction: column;
}

.small-receipt-form div input, fieldset, textarea {
  border: 1px solid black;
  border-radius: 4px;
}
